In [3]:
a=10
b=5
print (a+b)

15

In [4]:
## Operators

#Logical (and, or, not)   : Checks for a logical condition

print(10 < 50 and 20 < 100)
print(10 < 50 or 200 < 100)
print(not(10 < 50))

True
True
False

In [20]:
# identity  : Check if they are same objects or not -  memory location (is, isnot)

a = [1, 2, 3]
b = [1, 2, 3]
c = a
print (a is c) # -- Same memory location

print( a is b) # -- Different memory location
print(a==b) # -- Same value not memory location
print(id(a))
print(id(b))
print(id(c))

True
False
True
2020627363136
2020669441088
2020627363136

In [6]:
# Membership (in and not in) check if a sequence is present in an object

a = [1,2,3,4,5,6,7]

print(3 in a)
print(3 not in a)

True
False

In [ ]:
## Variables 

a = 10 ## a is variable

In [26]:
## Number

print(type(10))
print(type(10.1))
print(type(10+23j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
## Strings

print(type("123"))
print(type('India'))
print(type('''Indian'''))

<class 'str'>
<class 'str'>
<class 'str'>

In [9]:
## Create a variable assign a integer, float and string to then and check their type


a = 10
b = 10.2
c = "India"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [32]:
## List : Mutable ## Collection of objects

a = [1,2,3]
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>

In [31]:
## Tuple : Immutable

a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [36]:
## Set : Unordered and no duplicates : Immutable and no indexing


a = {10,20,3,1,2,2,4,5,4,2,3,1}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 20, 10}
<class 'set'>

In [15]:
## Dictionary : Key value pair

a = {'a':10, 'b':20,'c':30}
print(a)
print(type(a))
print(a['a']) ## -- to get the value of a particular key

print(a.keys())
print(a.values())

{'a': 10, 'b': 20, 'c': 30}
<class 'dict'>
10
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [31]:
## Indexing

a = ['I','N','D','I','A','N']

print(a[0:3])
print(a[2:5])  ## Positive indexing
print(a[1:6])
print(a[1:4])

print(a[-6:-3])
print(a[-4:-1]) ## Negative indexing
print(a[-5:])
print(a[-5:-2])

['I', 'N', 'D']
['D', 'I', 'A']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I']
['I', 'N', 'D']
['D', 'I', 'A']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I']

In [33]:
## Simple mutability and immutability

a = [10,20,30,40] ## -- list
b = (10,20,30,40) ## -- tuple

print(a[2])
print(a[2])

a[2]=345
print(a)
b[2]=345
print(b)

30
30
[10, 20, 345, 40]

TypeError: 'tuple' object does not support item assignment

In [8]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list([1,2,-8]))

-16

In [11]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([10,12,20,22]))

64

In [14]:
def max_num_in_list(list):
    max = list[0]
    for a in list:
        if a  > max:
            max = a
        return max
print(max_num_in_list([1,2,-8,0]))

1

In [17]:
def smallest_num_in_list( list ):
    min = list[ 0 ]
    for a in list:
        if a < min:
            min = a
    return min
print(min_num_in_list([1, 2, -8, 0]))

-8

In [19]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [27]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [31]:

a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [32]:
l = []
if not l:
    print('list is empty')

list is empty